<div class="container">
  <h1>Upload Files</h1>
  <input type="file" (change)="onFileSelected($event)" [disabled]="isDisabled"  accept=".txt" />
  <form [formGroup]="form">
    <label for="chunckSize">Chunk size (bytes)</label>
    <input class="input-text" placeholder="Type the chunk size" #chunkSize (input)="setChunkSize(chunkSize)" type="number" formControlName="chunckSize" name="chunckSize">
    <br>
    <label for="chunckSize">Never split line</label>
    <input type="checkbox" formControlName="neverSplitLine" name="neverSplitLine" checked id="">
  </form>
  <button [disabled]="!file" (click)="uploadFile()">Upload</button>
  <div class="progress" *ngIf="progress">Uploading: {{ progress }}%</div>
</div>

<div class="container files" *ngIf="files.length > 0">
  <h2>Uploaded Files</h2>
  <div class="file-item" *ngFor="let file of files">
    <div>
      <p><strong>Name:</strong> {{ file.name }}</p>
      <p><strong>Size:</strong> {{ file.size }} bytes</p>
    </div>
    <a [href]="file.link" target="_blank">View File</a>
  </div>
</div>

<div class="container totals">
  <p><strong>Total Size:</strong> {{ total }} KB</p>
  <p><strong>Real Total:</strong> {{ realTotal }} KB</p>

  <p>By: Lucas</p>
</div>
